%h1 Add A Movie!

= form_tag("new", method: 'get') do
  =label_tag(:q, "Search by Title: ")
  =text_field_tag(:q)
  %br/
  =submit_tag("Search")

- if params.has_key?(:q)
  =render partial: "results", :result => @result

= render partial: "form"
