body {
  background: rgba(112, 30, 30, 1)
}

.navbar-brand {
  margin: 0;
  padding: 0;
  img{
  width: 150px;
  }
}



.movie_container{
  float: left;
  background: #5bc0de;
  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  img{
    width: 150px;
    margin: 0 auto;
  }
}

.thumbnail {
  height: 450px;
}

.thumbnail-img {
  height: 300px;
}
.thumbnail a img{
  max-width: 200px;
}
